<footer class="py-3" id="footer-main">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="offset-2 col-xl-3 ">
                <div class="copyright text-left text-white">
                    &copy; 2021 E Attendance
                </div>
            </div>
            <div class="offset-5">
                <ul class="nav nav-footer text-center">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank"
                            data-toggle="tooltip" data-original-title="Like us on Facebook">
                            <i class="fab fa-lg fa-facebook-square text-white"></i>
                            <span class="nav-link-inner--text d-lg-none">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.instagram.com/" target="_blank"
                            data-toggle="tooltip" data-original-title="Follow us on Instagram">
                            <i class="fab fa-lg fa-instagram text-white"></i>
                            <span class="nav-link-inner--text d-lg-none">Instagram</span>
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-link-icon" href="https://twitter.com/" target="_blank" data-toggle="tooltip"
                            data-original-title="Follow us on Twitter">
                            <i class="fab fa-lg fa-twitter-square text-white"></i>
                            <span class="nav-link-inner--text d-lg-none">Twitter</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com" target="_blank" data-toggle="tooltip"
                            data-original-title="Star us on Github">
                            <i class="fab fa-lg fa-github text-white"></i>
                            <span class="nav-link-inner--text d-lg-none">Github</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>