<head>

    <link rel="stylesheet" href="/assets/css/footer.css" type="text/css">

</head>

<footer class="footer d-none d-md-block">

    <div class="container">
      <div class="row row-grid align-items-center mb-5">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
          <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
        </div>
        <div class="col-lg-4 text-lg-right btn-wrapper social-network">
				                    
                <span>
                  <a href="mailto:eattendance1999@gmail.com?subject=EAttendance" data-toggle="tooltip" data-original-title="Mail Us"><i class="fa-lg fas fa-envelope"></i></a>
                </span>
                <span>
                  <a href="https://twitter.com/" target="blank" data-toggle="tooltip" data-original-title="Follow Us"><i class="fa-lg  fab fa-twitter"></i></a>
                </span>
                <span>
                  <a href="https://www.linkedin.com/" target="blank" data-toggle="tooltip" data-original-title="Follow Us"><i class="fa-lg  fab fa-linkedin"></i></a>
                </span>
                <span>
                  <a href="https://www.instagram.com/" target="blank" data-toggle="tooltip" data-original-title="Like Us"><i class="fa-lg fab fa-instagram"></i></a>
                </span>
                <span>
                  <a href="https://github.com/ab007shetty/" target="blank" data-toggle="tooltip" data-original-title="Star on Github"><i class="fa-lg  fab fa-github"></i></a>
                </span>      
        
        </div>
              <div class="col-lg-2">
                <a  href="https://eattendance.blob.core.windows.net/eattendance/eattendance.apk"  >
              <img class="img img-fluid img-responsive" width="100%" src="/assets/img/play.png">
          </a>
      </div>

      </div>
      <hr >
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2020 <a href="" target="_blank">E Attendance</a>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="" class="nav-link" >E Attendance</a>
            </li>
            <li class="nav-item">
              <a href="/user/contact" class="nav-link" >Contact</a>
            </li>
            <li class="nav-item">
              <a href="/user/about" class="nav-link" >Squad</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </footer>	

  <footer class="py-3 d-md-none " id="footer-main">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-white">
                    &copy; 2021 E Attendance
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank"
                            data-toggle="tooltip" data-original-title="Like us on Facebook">
                            <i class="fab fa-lg fa-facebook-square text-white"></i>
                            <span class="nav-link-inner--text d-lg-none">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.instagram.com/" target="_blank"
                            data-toggle="tooltip" data-original-title="Follow us on Instagram">
                            <i class="fab fa-lg fa-instagram text-white"></i>
                            <span class="nav-link-inner--text d-lg-none">Instagram</span>
                        </a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-link-icon" href="https://twitter.com/" target="_blank" data-toggle="tooltip"
                            data-original-title="Follow us on Twitter">
                            <i class="fab fa-lg fa-twitter-square text-white"></i>
                            <span class="nav-link-inner--text d-lg-none">Twitter</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com" target="_blank" data-toggle="tooltip"
                            data-original-title="Star us on Github">
                            <i class="fab fa-lg fa-github text-white"></i>
                            <span class="nav-link-inner--text d-lg-none">Github</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
