<head>    
<link rel="stylesheet" href="/assets/css/creativetim.min.css" type="text/css">

   
</head>

{{> header}}

	<section class="section section-lg section-shaped py-5">
  <div class="shape shape-style-1 bg-gradient-primary">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
	

<div class=" text-white"  >
<div class="container">

   <div class="row py-3">
            <div class="col-md-8 mx-auto text-center mb-0">
              <h4 class="display-3 text-white"> Project Guide</h4>
            </div>
          </div>



 <div class="row text-center">

  <div class="offset-md-3 col-md-6 text-center">
              <div class="card card-profile" data-image="profileimage">
                <div class="card-header">
                  <div class="card-image">
                   <a href="javascript:;"><img class="img rounded" width="100%" height="430px" src="/assets/img/mam.jpeg"></a>
                  </div>
                </div>
                <div class="card-body pt-9">
                  <h4 class="display-4 mb-7"></h4>
                  <p class="lead"></p>
                  <div class="table-responsive">
                    <ul class="list-unstyled"> 
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3"><i class="ni ni-atom"></i></div>
                          </div>
                          <div>
                            <h6 class="mb-1">MS. RAMYASHREE</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3"><i class="ni ni-user-run"></i></div>
                          </div>
                          <div>
                            <h6 class="mb-1">Assistant Professor</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-0">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-danger mr-3"><i class="ni ni-chart-bar-32"></i></div>
                          </div>
                          <div>
                            <h6 class="mb-1">Department of Computer Science & Engineering</h6>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>






 
        </div>

	</div>	
</div>


<!-- ======================================================================================================================================== -->

 
    <!-- Header -->
         <section class="section team-2 text-dark bg-wite" id="team">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 mx-auto text-center mb-5">
              <h3 class="display-3 text-white">Developers</h3>
              
            </div>
          </div>
          <div class="row">

            <div class="col-lg-3 col-md-6">
              <div class="card card-profile" data-image="profileimage">
                <div class="card-header">
                  <div class="card-image">
                    <div class="dropdown">
       
                    </div><a href="javascript:;"><img class="img rounded" src="/assets/img/ani.jpg"></a>
                  </div>
                </div>
                <div class="card-body pt-7">                
                  <div class="table-responsive">
                    <ul class="list-unstyled"> 
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3"><i class="ni ni-atom"></i></div>
                          </div>
                          <div>
                            <h6 class=" display-4 mb-1">Anirudha B Shetty</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3"><i class="ni ni-user-run"></i></div>
                          </div>
                          <div>
                            <h6 class="lead mb-1">8th Sem</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-1 ">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-danger mr-3"><i class="ni ni-chart-bar-32"></i></div>
                          </div>
                          <div>
                            <h6 class="mb-1">UI/UX Design</h6>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            
          <div class="col-lg-3 col-md-6">
              <div class="card card-profile" data-image="profil-image">
                <div class="card-header">
                  <div class="card-image">
                    <div class="dropdown">
       
                    </div><a href="javascript:;"><img class="img rounded" src="/assets/img/deksha.jpg"></a>
                  </div>
                </div>
                <div class="card-body pt-7">
                 
                  <div class="table-responsive">
                    <ul class="list-unstyled"> 
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3"><i class="ni ni-atom"></i></div>
                          </div>
                          <div>
                            <h6 class=" display-4 mb-1">Deeksha</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3"><i class="ni ni-user-run"></i></div>
                          </div>
                          <div>
                            <h6 class="lead mb-1">8th Sem</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-danger mr-3"><i class="ni ni-chart-bar-32"></i></div>
                          </div>
                          <div>
                            <h6 class="mb-1">Algorithm Designing</h6>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

 <div class="col-lg-3 col-md-6">
              <div class="card card-profile" data-image="profileimage">
                <div class="card-header">
                  <div class="card-image">
                    <div class="dropdown">
       
                    </div><a href="javascript:;"><img class="img rounded" src="/assets/img/bhoomika.jpg"></a>
                  </div>
                </div>
                <div class="card-body pt-7">
                  
                  <div class="table-responsive">
                    <ul class="list-unstyled"> 
                       <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3"><i class="ni ni-atom"></i></div>
                          </div>
                          <div>
                            <h6 class=" display-4 mb-1">Bhoomika</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3"><i class="ni ni-user-run"></i></div>
                          </div>
                          <div>
                            <h6 class="lead mb-1">8th Sem</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-danger mr-3"><i class="ni ni-chart-bar-32"></i></div>
                          </div>
                          <div>
                            <h6 class="mb-1">Critical Thinking</h6>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>


             <div class="col-lg-3 col-md-6">
              <div class="card card-profile" data-image="profile-mage">
                <div class="card-header">
                  <div class="card-image">
                    <div class="dropdown">
       
                    </div><a href="javascript:;"><img class="img rounded" src="/assets/img/jeevan.jpeg"></a>
                  </div>
                </div>
                <div class="card-body pt-7">
              
                  <div class="table-responsive">
                    <ul class="list-unstyled"> 
                       <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3"><i class="ni ni-atom"></i></div>
                          </div>
                          <div>
                            <h6 class=" display-4 mb-1">Jeevan Rebeiro</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3"><i class="ni ni-user-run"></i></div>
                          </div>
                          <div>
                            <h6 class="lead mb-1">8th Sem</h6>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-danger mr-3"><i class="ni ni-chart-bar-32"></i></div>
                          </div>
                          <div>
                            <h6 class="mb-1">PhotoShop Master</h6>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	</section>
<!-- ======================================================================================================================================== -->


{{> footer_index}}