
<head>
	<link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
	<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/assets/css/footer.css" type="text/css">

	<link rel="stylesheet" type="text/css" href="/assets/contact/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/contact/css/main.css">

	<script src="/assets/contact/js/main.js"></script>
</head>

{{> header}}

	<section class="section section-lg section-shaped py-6">
  <div class="shape shape-style-1 bg-gradient-info">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

<div class="container">
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form pageclip-form" action="https://send.pageclip.co/BOUiBiDuD3Sfwq3JSPY8SyIZJd3Zo2oh/eattendance"  method="post">
				<span class="contact100-form-title">
					Send Us A Message
				</span>

				<label class="label-input100" for="first-name">Tell us your name *</label>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
					<input id="first-name" class="input100" type="text" name="first-name" required placeholder="First name">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
					<input class="input100" type="text" name="last-name" placeholder="Last name">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Enter your email *</label>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input id="email" class="input100" type="text" name="email" required placeholder="Eg. example@email.com">
					<span class="focus-input100"></span>
				</div>

			

				<label class="label-input100" for="message">Message *</label>
				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<textarea id="message" class="input100" name="message" required placeholder="Write us a message"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn " >
						Send Message
					</button>
				</div>
			</form>

			<div class="contact100-more flex-col-c-m" style="background-image: url('/assets/contact/images/bg-01.jpg');">
				<div class="flex-w size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-map-marker"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Address
						</span>

						<span class="txt2">
							Shri Madhwa Vadiraja Institute of Technology and Management, Bantakal.
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-phone-handset"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Lets Talk
						</span>

						<span class="txt3">
							+91 800 1236879
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							General Support
						</span>

						<span class="txt3">
							eclassroom1999@gmail.com
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="dropDownSelect1"></div>
    </div>

</section>

<footer class="footer d-none d-md-block">

    <div class="container">
      <div class="row row-grid align-items-center mb-5">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
          <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
        </div>
  <div class="col-lg-4 text-lg-right btn-wrapper social-network">
				                    
                <span>
                  <a href="mailto:eattendance1999@gmail.com?subject=EAttendance" data-toggle="tooltip" data-original-title="Mail Us"><i class="fa-lg fas fa-envelope"></i></a>
                </span>
                <span>
                  <a href="https://twitter.com/" target="blank" data-toggle="tooltip" data-original-title="Follow Us"><i class="fa-lg  fab fa-twitter"></i></a>
                </span>
                <span>
                  <a href="https://www.linkedin.com/" target="blank" data-toggle="tooltip" data-original-title="Follow Us"><i class="fa-lg  fab fa-linkedin"></i></a>
                </span>
                <span>
                  <a href="https://www.instagram.com/" target="blank" data-toggle="tooltip" data-original-title="Like Us"><i class="fa-lg fab fa-instagram"></i></a>
                </span>
                <span>
                  <a href="https://github.com/ab007shetty/" target="blank" data-toggle="tooltip" data-original-title="Star on Github"><i class="fa-lg  fab fa-github"></i></a>
                </span>      
        
        </div>
              <div class="col-lg-2">
                <a  href="https://eattendance.blob.core.windows.net/eattendance/eattendance.apk"  >
              <img class="img img-fluid img-responsive" width="100%" src="/assets/img/play.png">
          </a>
      </div>

      </div>
      <hr >
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2020 <a href="" target="_blank">E Attendance</a>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="" class="nav-link" >E Attendance</a>
            </li>
            <li class="nav-item">
              <a href="/user/contact" class="nav-link" >Contact</a>
            </li>
            <li class="nav-item">
              <a href="/user/about" class="nav-link" >Squad</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </footer>	

