{{> header_index}}


<div class="wrapper">


  <div class="page-header">
    <div class="page-header-image" style="background-image: url('/assets/img/home.jpg')"></div>
    <div class="container shape-container d-flex align-items-center py-lg">
      <div class="col px-0">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <h1 class="text-white display-1">Welcome Back </h1>
            <h2 class="display-4 font-weight-normal text-white">Just Click Below 👇</h2>
            <div class="btn-wrapper mt-4">
              <a href="#" data-toggle="modal" data-target="#login" class="btn btn-warning btn-icon mt-3 mb-sm-0">
                <span class="btn-inner--icon"><i class="ni ni-button-play"></i></span>
                <span class="btn-inner--text">Login</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ======================================================================================================================================== -->

  <!-- Page Content -->

  <div class="section features-1 text-dark bg-white ">
    <div class="container " style="max-width: 1200px;">

      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <span class="badge badge-primary badge-pill mb-3">welcome</span>
          <h3 class="display-3 ">Welcome to E Attendance</h3>
          <p class="">The time is now for the next step. We bring you the future of attendance recording.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase text-center text-dark mb-0">About Us
                  </h4>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                    <i class="ni ni-trophy"></i>
                  </div>
                </div>
              </div>
              <hr>
              <p>
              <ul style="list-style-type:disc">
                <li>E-Attendance is a Web Based Application</li>
                <li>Students have access to real time statistics.</li>
                <li>Backed with Email Capabilities.
                </li>
                <li>Teachers can create new classes and they can start recording attendance.
                </li>
                <li>Secured login and database management.<br></li>

              </ul>
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase text-center text-dark mb-0">Objective
                  </h4>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-warning text-white rounded-circle shadow">
                    <i class="ni ni-books"></i>
                  </div>
                </div>
              </div>
              <hr>
              <p>
              <ul style="list-style-type:disc">
                <li>To Keep attendance records of all Students.</li>
                <li>To reduce the time needed for taking attendnace.</li>
                <li>To Get all statistics easily on time.
                </li>
                <li>Get real time info about attendance to avoid penalty
                </li>
                <li>For reducing manual work and mental conflict.<br></li>

              </ul>
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h4 class="card-title text-uppercase text-center text-dark mb-0">Technologies Used
                  </h4>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-danger text-white rounded-circle shadow">
                    <i class="ni ni-laptop"></i>
                  </div>
                </div>
              </div>
              <hr>
              <p>
              <ul style="list-style-type:disc">
                <li>Mongo DB </li>
                <li>BootStrap4</li>
                <li>Node JS</li>
                <li>Express JS</li>
                <li>Argon UI Kit</li>
                <li>HTML5 CSS3 JS</li>
                <li>Flask</li>
                <li>Face Recognition</li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ======================================================================================================================================== -->

  <div class="section features-6 text-dark bg-white">
    <div class="container ">

      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <span class="badge badge-primary badge-pill mb-3">Insight</span>
          <h3 class="display-3 ">Services</h3>
          <h5 class="">We Offer Services to both Students and Teachers.</h5>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
              <h3 class="title">For Students</h3>
              <p class=" ">Taking attendance made easier. Register and upload your photo to have a hassle free
                experience in recording your attendance.</p>

            </div>
          </div>
          <div class="info info-horizontal info-hover-primary mt-5">
            <div class="description pl-4">
              <h3 class="">For Teachers</h3>
              <p class=" ">Detailed analytics for you. Make classrooms, add students and take their attendance also
                detailed reports on attendanc and absents.</p>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-10 mx-md-auto d-none d-md-block">
          <img class="ml-lg-5" src="/assets/img/pic1.png" width="100%">
        </div>
      </div>
    </div>
  </div>


  <!-- ======================================================================================================================================== -->




  <div class="section features-2 text-dark bg-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-8 mr-auto text-left">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle mb-5"> <i
                class="ni ni-favourite-28"> </i></div>
            <h3 class="display-3">Features</h3>
            <p>The time is now for the next step of Taking Attendance. We bring you the future of attendance recording
              along with great tools for analyzing.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3"> <i class="ni ni-settings-gear-65"> </i></div>
                  </div>
                  <div>
                    <h6 class="mb-0">Highly Reliable and Accurate.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3"> <i class="ni ni-html5"> </i></div>
                  </div>
                  <div>
                    <h6 class="mb-0">Faster & Responsive website.</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3"> <i class="ni ni-settings-gear-65"> </i></div>
                  </div>
                  <div>
                    <h6 class="mb-0">In Depth Attendance Analytics</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-primary mr-3"> <i class="ni ni-satisfied"> </i></div>
                  </div>
                  <div>
                    <h6 class="mb-0">Great Accuracy upto 99.36% on LFW.</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 pl-md-0">
          <div class="row">
            <div class="col-lg-4 col-md-4 ">
              <div class="info text-left bg-info shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"> <i
                    class="ni ni-satisfied text-info"> </i></div>
                <h5 class="info-title text-white">Best Quality</h5>
                <p class="description">Not just taking attendance , analyzing attendance is also very much important, we
                  designed considering this also.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-danger info-raised shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"> <i
                    class="ni ni-palette text-danger"> </i></div>
                <h5 class="info-title text-white">Awesome Design</h5>
                <p class="description"> A Good Interactive Web Interfce for both Students and Teacher. We Know you can
                  Feel this.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
              <div class="info text-left bg-default shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"> <i
                    class="ni ni-spaceship text-default"> </i></div>
                <h5 class="info-title text-white">Great Performance</h5>
                <p class="description">We optimised the website for faster response, especially by reducing the usage of
                  JavScript, and many more.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="info text-left bg-primary shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"> <i
                    class="ni ni-planet text-primary"> </i></div>
                <h5 class="info-title text-white">User Friendly</h5>
                <p class="description">Clean and great friendly User Interface to access all the features easily both
                  for teachers and stduents. </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
              <div class="info text-left bg-warning info-raised shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"> <i
                    class="ni ni-world text-warning"> </i></div>
                <h5 class="info-title text-white">Analyze Attendance</h5>
                <p class="description">Get all the statistics about attendance also in depth analysis of attendance for
                  teachers as well as students.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 d-none d-md-block">
              <div class="info text-left bg-success shadow">
                <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary"> <i
                    class="ni ni-atom text-success"> </i></div>
                <h5 class="info-title text-white">Safety First</h5>
                <p class="description">Secure authentication to avoid unauthorised login, Hiding Something Doesnt mean
                  Its secured. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span> </span>
  </div>

  <!-- ======================================================================================================================================== -->


  <div class="section features-6 text-dark bg-white" id="tech">
    <div class="container-fluid shado">

      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <span class="badge badge-primary badge-pill mb-3">stack</span>
          <h3 class="display-3 ">Technologies Used</h3>
          <p class="">Our Development Stack</p>
        </div>
      </div>

      <div class="row text-lg-center align-self-center">

        <div class="col-md-3">
          <div class="info">
            <img class=" img-fluid" src="assets/img/bootstrap.png" alt="BootStrap4">
            <h6 class="info-title text-uppercase text-primary">BootStrap4</h6>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info">
            <img class=" img-fluid" src="assets/img/node.png" alt="NodeJS">
            <h6 class="info-title text-uppercase text-primary">NodeJS</h6>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info">
            <img class=" img-fluid" src="assets/img/mongodb.png" alt="MongoDB">
            <h6 class="info-title text-uppercase text-primary">MongoDB</h6>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info">
            <img class=" img-fluid" src="assets/img/python.png" alt="Python">
            <h6 class="info-title text-uppercase text-primary">Python</h6>
          </div>
        </div>

      </div>

      <div class="row text-center ">

        <div class="col-md-3 d-none d-md-block">
          <div class="info">
            <img class=" img-fluid" src="assets/img/js.png" alt="JavaScript">
            <h6 class="info-title text-uppercase text-primary">JavaScript</h6>
          </div>
        </div>

        <div class="col-md-3 d-none d-md-block">
          <div class="info">
            <img class=" img-fluid" src="assets/img/express.png" alt="Express">
            <h6 class="info-title text-uppercase text-primary">Express</h6>
          </div>
        </div>




        <div class="col-md-3 d-none d-md-block">
          <div class="info">
            <img class=" img-fluid" src="assets/img/html.png" alt="HTML5">
            <h6 class="info-title text-uppercase text-primary">HTML5</h6>
          </div>
        </div>

        <div class="col-md-3 d-none d-md-block">
          <div class="info">
            <img class=" img-fluid" src="assets/img/flask.png" alt="Flask">
            <h6 class="info-title text-uppercase text-primary">Flask</h6>
          </div>
        </div>


      </div>


    </div>
  </div>


  <!-- ==============================================MODAL====================================================== -->
  <!-- login Modal -->

  <div class=" col-md-4">
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card bg-secondary shadow border-0 mb-0">
              <div class="card-header bg-white pb-5">
                <div class="text-muted text-center mb-3"><small>Sign Up As</small>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="btn-wrapper text-center">
                  <a href="/user/otp/teacher" class="btn btn-neutral btn-icon">
                    <span class="btn-inner--icon"><i class=" fas fa-chalkboard-teacher text-dark"></i></span>
                    <span class="btn-inner--text">Teacher</span>
                  </a>
                  <a href="/user/otp/student" class="btn btn-neutral btn-icon">
                    <span class="btn-inner--icon"><i class=" fas fa-user-graduate text-dark"></i></span>
                    <span class="btn-inner--text">Student</span>
                  </a>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Or Sign in with credentials</small>
                  {{#if hasErrors}}
                  <div class="alert alert-danger">
                    {{# each messages}}
                    <p>{{this}}</p>
                    {{/each}}
                  </div>
                  {{/if}}
                </div>
                <form action="../user/login" method="post">
                  <div class="form-group mb-3">
                    <div class="input-group input-group-merge input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" name="email" placeholder="Email" type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" name="password" placeholder="Password" type="password">
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4">Sign in</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Contact Modal -->
  <div class="modal fade " id="contact" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gradient-info">
          <div class="tittle-container text-center">
            <h2 class="tittle text-white">Get in Touch</h2>
            <h4 class="subtitle">We'd love hear from you</h4>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body bg-gradient-success">

          <!-- Form -->
          <form class="contact-form text-dark" method="POST" action="send">
            {{{msg}}}

            <!-- Name -->
            <div class="form-group row">
              <label class="col-lg-4 col-form-label ">Your Name</label>
              <div class="col-lg-8">
                <input type="text" name="name" class="form-control form-control-sm">
              </div>
            </div>

            <!-- Email -->
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">Email Adress</label>
              <div class="col-lg-8">
                <input type="email" name="email" class="form-control form-control-sm">
              </div>
            </div>

            <!-- Message -->
            <div class="form-group row">
              <label class="col-lg-4 col-form-label">Message</label>
              <div class="col-lg-8">
                <textarea class="form-control form-control-sm" name="message" rows="5" required></textarea>
              </div>

            </div>

            <!-- Submit Button -->
            <div class="text-right">
              <input class="btn btn-submit" type="submit" value="Submit">
            </div>

          </form>
        </div>

      </div>
    </div>

  </div>

  <!-- ======================================================================================================================================== -->



  <footer class="footer d-none d-md-block">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3883.5330441266647!2d74.78288441479593!3d13.254595190670685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbcaffcb81452c5%3A0xb18b6b77e04b088b!2sShri%20Madhwa%20Vadiraja%20Institute%20of%20Technology%20and%20Management!5e0!3m2!1sen!2sin!4v1598341224585!5m2!1sen!2sin"
      width="100%" height="470" frameborder="0" style="border:2px solid black;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe>

    <div class="container">
      <div class="row row-grid align-items-center mb-5">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
          <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
        </div>
        <div class="col-lg-4 text-lg-right btn-wrapper social-network">

          <span>
            <a href="mailto:eclassroom1999@gmail.com?subject=EAttendance" data-toggle="tooltip"
              data-original-title="Mail Us"><i class="fa-lg fas fa-envelope"></i></a>
          </span>
          <span>
            <a href="https://twitter.com/" target="blank" data-toggle="tooltip" data-original-title="Follow Us"><i
                class="fa-lg  fab fa-twitter"></i></a>
          </span>
          <span>
            <a href="https://www.linkedin.com/" target="blank" data-toggle="tooltip" data-original-title="Follow Us"><i
                class="fa-lg  fab fa-linkedin"></i></a>
          </span>
          <span>
            <a href="https://www.instagram.com/" target="blank" data-toggle="tooltip" data-original-title="Like Us"><i
                class="fa-lg fab fa-instagram"></i></a>
          </span>
          <span>
            <a href="https://github.com/" target="blank" data-toggle="tooltip" data-original-title="Star on Github"><i
                class="fa-lg  fab fa-github"></i></a>
          </span>

        </div>
        <div class="col-lg-2">
          <a
            href="https://firebasestorage.googleapis.com/v0/b/eattendance-3e7fc.appspot.com/o/eattendance.apk?alt=media&token=bffdc820-39ff-4864-bda8-146ddeeb02b3">
            <img class="img img-fluid img-responsive" width="100%" src="/assets/img/play.png">
          </a>
        </div>

      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2020 <a href="" target="_blank">E Attendance</a>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="" class="nav-link">E Attendance</a>
            </li>
            <li class="nav-item">
              <a href="/user/contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/user/about" class="nav-link">Squad</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <a href="#" id="toTopBtn" class="cd-top text-replace js-cd-top cd-top--is-visible cd-top--fade-out"
      data-abc="true"></a>

  </footer>


  <footer class="py-3 d-md-none" id="footer-main">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3883.5330441266647!2d74.78288441479593!3d13.254595190670685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbcaffcb81452c5%3A0xb18b6b77e04b088b!2sShri%20Madhwa%20Vadiraja%20Institute%20of%20Technology%20and%20Management!5e0!3m2!1sen!2sin!4v1598341224585!5m2!1sen!2sin"
      width="100%" height="350" frameborder="" style="border:"" allowfullscreen="" aria-hidden=" false"
      tabindex="0"></iframe>

    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-white">
            &copy; 2021 E Attendance
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.facebook.com/" target="_blank" data-toggle="tooltip"
                data-original-title="Like us on Facebook">
                <i class="fab fa-lg fa-facebook-square text-white"></i>
                <span class="nav-link-inner--text d-lg-none">Facebook</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.instagram.com/" target="_blank" data-toggle="tooltip"
                data-original-title="Follow us on Instagram">
                <i class="fab fa-lg fa-instagram text-white"></i>
                <span class="nav-link-inner--text d-lg-none">Instagram</span>
              </a>
            </li>
            <li class="nav-item d-none d-md-block">
              <a class="nav-link nav-link-icon" href="https://twitter.com/" target="_blank" data-toggle="tooltip"
                data-original-title="Follow us on Twitter">
                <i class="fab fa-lg fa-twitter-square text-white"></i>
                <span class="nav-link-inner--text d-lg-none">Twitter</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://github.com" target="_blank" data-toggle="tooltip"
                data-original-title="Star us on Github">
                <i class="fab fa-lg fa-github text-white"></i>
                <span class="nav-link-inner--text d-lg-none">Github</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</div>